.queryResults {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 8px;
  align-self: stretch;
}


.spiner {
  position: fixed;
  margin: 0 auto;
  top: 50vh;
  animation-name: spiner-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.errorMessage {
  margin-top: 56px;
  align-self: flex-start;
  color: #787878;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes spiner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
