.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.paginator button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    color: var(--light-background-color-background-primary, #fff);
    background-color: var(--light-button-primary-color-button-primary-default, #007fff);
}

.paginator input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--light-border-color-border-primary, #dedede);
    background: var(--light-background-color-background-primary, #fff);
    color: var(--light-text-color-text-secondary, #787878);
}

/* Mobile */
@media (max-width: 700px) {
    .paginator {
        gap: 1rem
    }
    .paginator input { 
        width: 150px
    }
}