.unscrolled {
  overflow: hidden;
  height: 80vh !important;
}

.imageCard {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  min-width: 204px;
  min-height: 204px;
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 1 / 1;
}

/* Mobile */
@media (max-width: 700px) {
  .imageCard {
    min-width: 114px;
    min-height: 114px;
    height: auto;
    width: 30%;
  }
}

@media (max-width: 389px), (-webkit-max-device-pixel-ratio: 1),
(max-resolution: 2dppx) {
  .imageCard {
    min-width: 100px;
    min-height: 100px;
  }
}