.searchBar {
  display: flex;
  height: 21.25rem;
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  flex-shrink: 0;
}

.searchBar_inputBlock {
  display: flex;
  max-width: 26.25rem;
  height: 3rem;
  padding: 0.75rem 0.5rem;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;

  border-radius: 0.75rem;
  background: #eee;
}

.searchBar_inputBlock__input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  color: #9c9c9c;
  text-align: left;
  font-family: SF Pro Display;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchBar_inputBlock__button {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  display: flex;
  height: 3rem;
  padding: 0.875rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.75rem;
  background: #eb0c0c;

  color: #fff;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

@media (max-width: 389px) {
  .searchBar {
    width: 100%;
    background-color: #eb0c0c;
  }
}
